@page "/"

<div class="text-center">
    <hgroup>
        <h1 class="font-weight-bold">Welcome to Games Inventory</h1>
        <h4>By: Luis Lira</h4>
    </hgroup>
    <section class="mt-5">
        <p>This web app was created with Blazor .Net</p>
        <p>This application consists of a basic inventory control system</p>
    </section>
    <section class="mt-5">
        <p>You can contact me in my following social networks:</p>
        <a href="https://www.linkedin.com/in/luislirac/" target="_blank" rel="noreferrer nofollow">Linked In</a>
        <span>|</span>
        <a href="https://github.com/LuisLiraC" target="_blank" rel="noreferrer nofollow">GitHub</a>
    </section>
</div>